${ptArchiverPath}/pt-archiver \
--source h=${sourceHost},u=${archiveUser},p=${archivePwd},P=${sourcePort},D=${sourceDb},t=${sourceTable} \
--dest h=${destHost},P=${destPort},u=${archiveUser},p=${archivePwd},D=${destDb},t=${destTable} \
--progress ${batchSize} --where "${archiveCondition}"  --statistics --charset=${charset} --limit=${batchSize} --txn-size ${txnSize}  ${archiveModeEnum} --replace ${extensionCmd} \