<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyjun.datamigration.source.mapper.ItsmServiceItemsSourceMapper">

    <resultMap id="BaseResultMap" type="com.skyjun.datamigration.source.entity.ItsmServiceItemsSource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="configuration" column="configuration" jdbcType="VARCHAR"/>
            <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
            <result property="filterFields" column="filter_fields" jdbcType="VARCHAR"/>
            <result property="itemTypeId" column="item_type_id" jdbcType="BIGINT"/>
            <result property="itemTypeName" column="item_type_name" jdbcType="VARCHAR"/>
            <result property="processModelId" column="process_model_id" jdbcType="BIGINT"/>
            <result property="processModelName" column="process_model_name" jdbcType="VARCHAR"/>
            <result property="productGroupId" column="product_group_id" jdbcType="BIGINT"/>
            <result property="serviceDateId" column="service_date_id" jdbcType="BIGINT"/>
            <result property="serviceItemContent" column="service_item_content" jdbcType="VARCHAR"/>
            <result property="serviceItemName" column="service_item_name" jdbcType="VARCHAR"/>
            <result property="serviceItemType" column="service_item_type" jdbcType="BIGINT"/>
            <result property="slaId" column="sla_id" jdbcType="BIGINT"/>
            <result property="startTaskId" column="start_task_id" jdbcType="BIGINT"/>
            <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
            <result property="productGroupName" column="product_group_name" jdbcType="VARCHAR"/>
            <result property="serviceType" column="service_type" jdbcType="BIGINT"/>
            <result property="headColor" column="head_color" jdbcType="VARCHAR"/>
            <result property="headName" column="head_name" jdbcType="VARCHAR"/>
            <result property="moveconfig" column="moveconfig" jdbcType="BOOLEAN"/>
            <result property="isDelete" column="is_delete" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,configuration,created_date,
        filter_fields,item_type_id,item_type_name,
        process_model_id,process_model_name,product_group_id,
        service_date_id,service_item_content,service_item_name,
        service_item_type,sla_id,start_task_id,
        updated_date,product_group_name,service_type,
        head_color,head_name,moveconfig,
        is_delete
    </sql>
</mapper>
