<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyjun.datamigration.source.mapper.ItsmPersonSourceMapper">

    <resultMap id="BaseResultMap" type="com.skyjun.datamigration.source.entity.ItsmPersonSource">
            <id property="itsmId" column="itsm_id" jdbcType="BIGINT"/>
            <result property="weixin" column="weixin" jdbcType="VARCHAR"/>
            <result property="itsmLogin" column="itsm_login" jdbcType="VARCHAR"/>
            <result property="itsmPhone" column="itsm_phone" jdbcType="VARCHAR"/>
            <result property="itsmProfilePath" column="itsm_profile_path" jdbcType="VARCHAR"/>
            <result property="itsmPwd" column="itsm_pwd" jdbcType="VARCHAR"/>
            <result property="itsmEmail" column="itsm_email" jdbcType="VARCHAR"/>
            <result property="itsmMsgStatus" column="itsm_msg_status" jdbcType="VARCHAR"/>
            <result property="itsmQq" column="itsm_qq" jdbcType="VARCHAR"/>
            <result property="itsmWechat" column="itsm_wechat" jdbcType="VARCHAR"/>
            <result property="itsmName" column="itsm_name" jdbcType="VARCHAR"/>
            <result property="itsmLocationId" column="itsm_location_id" jdbcType="INTEGER"/>
            <result property="itsmNumber" column="itsm_number" jdbcType="VARCHAR"/>
            <result property="itsmStatus" column="itsm_status" jdbcType="VARCHAR"/>
            <result property="itsmTime" column="itsm_time" jdbcType="VARCHAR"/>
            <result property="itsmUpPerson" column="itsm_up_person" jdbcType="VARCHAR"/>
            <result property="itsmTeamId" column="itsm_team_id" jdbcType="INTEGER"/>
            <result property="itsmLocation" column="itsm_location" jdbcType="VARCHAR"/>
            <result property="itsmOrganization" column="itsm_organization" jdbcType="VARCHAR"/>
            <result property="itsmTeam" column="itsm_team" jdbcType="VARCHAR"/>
            <result property="itsmDevice" column="itsm_device" jdbcType="INTEGER"/>
            <result property="itsmOrganizationId" column="itsm_organization_id" jdbcType="INTEGER"/>
            <result property="itsmUpPersonId" column="itsm_up_person_id" jdbcType="INTEGER"/>
            <result property="itsmDuties" column="itsm_duties" jdbcType="VARCHAR"/>
            <result property="itsmPosition" column="itsm_position" jdbcType="VARCHAR"/>
            <result property="itsmPersonType" column="itsm_person_type" jdbcType="BIGINT"/>
            <result property="itsmRefId" column="itsm_ref_id" jdbcType="BIGINT"/>
            <result property="itsmImgPath" column="itsm_img_path" jdbcType="VARCHAR"/>
            <result property="itsmImgBackground" column="itsm_img_background" jdbcType="VARCHAR"/>
            <result property="weight" column="weight" jdbcType="BIGINT"/>
            <result property="newteams" column="newTeams" jdbcType="VARCHAR"/>
            <result property="userStatus" column="user_status" jdbcType="BIGINT"/>
            <result property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="itemTypeId" column="item_type_id" jdbcType="BIGINT"/>
            <result property="source" column="source" jdbcType="BIGINT"/>
            <result property="userSource" column="user_source" jdbcType="TINYINT"/>
            <result property="workWeChartUserId" column="work_we_chart_user_id" jdbcType="VARCHAR"/>
            <result property="dingTalkUserId" column="ding_talk_user_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        itsm_id,weixin,itsm_login,
        itsm_phone,itsm_profile_path,itsm_pwd,
        itsm_email,itsm_msg_status,itsm_qq,
        itsm_wechat,itsm_name,itsm_location_id,
        itsm_number,itsm_status,itsm_time,
        itsm_up_person,itsm_team_id,itsm_location,
        itsm_organization,itsm_team,itsm_device,
        itsm_organization_id,itsm_up_person_id,itsm_duties,
        itsm_position,itsm_person_type,itsm_ref_id,
        itsm_img_path,itsm_img_background,weight,
        newTeams,user_status,role_id,
        item_type_id,source,user_source,
        work_we_chart_user_id,ding_talk_user_id
    </sql>
</mapper>
