<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skyjun.datamigration.source.mapper.ItsmServiceWorkEssentialSourceMapper">

    <resultMap id="BaseResultMap" type="com.skyjun.datamigration.source.entity.ItsmServiceWorkEssentialSource">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="closeDate" column="close_date" jdbcType="TIMESTAMP"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
            <result property="configuration" column="configuration" jdbcType="VARCHAR"/>
            <result property="disposeLevel" column="dispose_level" jdbcType="VARCHAR"/>
            <result property="fileValue" column="file_value" jdbcType="VARCHAR"/>
            <result property="influenceRange" column="influence_range" jdbcType="BIGINT"/>
            <result property="initiatorId" column="initiator_id" jdbcType="BIGINT"/>
            <result property="initiatorName" column="initiator_name" jdbcType="VARCHAR"/>
            <result property="itemTypeId" column="item_type_id" jdbcType="BIGINT"/>
            <result property="lateDate" column="late_date" jdbcType="TIMESTAMP"/>
            <result property="requestDate" column="request_date" jdbcType="TIMESTAMP"/>
            <result property="requestPerson" column="request_person" jdbcType="VARCHAR"/>
            <result property="requestPersonId" column="request_person_id" jdbcType="BIGINT"/>
            <result property="serviceItemId" column="service_item_id" jdbcType="BIGINT"/>
            <result property="slaId" column="sla_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="urgentLevel" column="urgent_level" jdbcType="BIGINT"/>
            <result property="workId" column="work_id" jdbcType="BIGINT"/>
            <result property="templateId" column="template_id" jdbcType="BIGINT"/>
            <result property="workSatisfaction" column="work_satisfaction" jdbcType="VARCHAR"/>
            <result property="requestPersonName" column="request_person_name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,close_date,color,
        configuration,dispose_level,file_value,
        influence_range,initiator_id,initiator_name,
        item_type_id,late_date,request_date,
        request_person,request_person_id,service_item_id,
        sla_id,title,update_date,
        urgent_level,work_id,template_id,
        work_satisfaction,request_person_name
    </sql>
</mapper>
